.card-top-filmes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

}

.list-movies-card-principal {
    margin-top: 40px;
    padding: 0 20px ;

}

.filter-list-movies{
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.2);
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 168px;
    height: 38px;
    margin: 20px 20px 0 0;
    
}

.filter-list-movies.active, .filter-list-movies:active{
    background-color: rgba(225, 131, 200, 0.2);
}

.filter-list-movies.active, .filter-list-movies:hover{
    background-color: transparent;
    border: 2px solid rgb(225, 131, 200);
    color: #E183C8;
}